<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

In [31]:
!pip install sqlalchemy
! pip install --upgrade sqlalchemy

Requirement already satisfied: sqlalchemy in /Users/yen-yuyang/anaconda3/lib/python3.11/site-packages (1.3.9)
Requirement already satisfied: sqlalchemy in /Users/yen-yuyang/anaconda3/lib/python3.11/site-packages (1.3.9)
Collecting sqlalchemy
  Obtaining dependency information for sqlalchemy from https://files.pythonhosted.org/packages/c7/55/d1d2ad054fb7e9188681d56df40ed81c2c198314a805b180b0ec99019da1/SQLAlchemy-2.0.23-cp311-cp311-macosx_11_0_arm64.whl.metadata
  Downloading SQLAlchemy-2.0.23-cp311-cp311-macosx_11_0_arm64.whl.metadata (9.6 kB)
Requirement already satisfied: typing-extensions>=4.2.0 in /Users/yen-yuyang/anaconda3/lib/python3.11/site-packages (from sqlalchemy) (4.7.1)
Downloading SQLAlchemy-2.0.23-cp311-cp311-macosx_11_0_arm64.whl (2.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.1/2.1 MB 14.8 MB/s eta 0:00:00a 0:00:01
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.3.9
    Uninstalling SQLAlchemy-1.3.9:
      Successfully uninstalled SQLAlchemy-1.3.9
Successfully installed sqlalchemy-2.0.23

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [32]:
%pip install --upgrade pysqlite3
%load_ext sql
%reload_ext sql

Collecting pysqlite3
  Downloading pysqlite3-0.5.2.tar.gz (40 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 40.7/40.7 kB 1.2 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: pysqlite3
  Building wheel for pysqlite3 (setup.py) ... done
  Created wheel for pysqlite3: filename=pysqlite3-0.5.2-cp311-cp311-macosx_11_0_arm64.whl size=36941 sha256=cbde1985e506e36274323afb98bd1bebc766b76f334e0fc4ae5e12b14e6f019e
  Stored in directory: /Users/yen-yuyang/Library/Caches/pip/wheels/9c/c7/8d/ab361fea28bd859525da6175948ed260dcf63fef2518b61abd
Successfully built pysqlite3
Installing collected packages: pysqlite3
Successfully installed pysqlite3-0.5.2
Note: you may need to restart the kernel to use updated packages.
The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [33]:
import csv, sqlite3

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [16]:
# !pip install -q pandas==1.1.5
!pip install pandas

Requirement already satisfied: pandas in /Users/yen-yuyang/anaconda3/lib/python3.11/site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/yen-yuyang/anaconda3/lib/python3.11/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/yen-yuyang/anaconda3/lib/python3.11/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /Users/yen-yuyang/anaconda3/lib/python3.11/site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in /Users/yen-yuyang/anaconda3/lib/python3.11/site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in /Users/yen-yuyang/anaconda3/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [36]:
# %sql close
# %sql sqlite:///my_data1.db

 * sqlite:///my_data1.db
Traceback (most recent call last):
  File "/Users/yen-yuyang/anaconda3/lib/python3.11/site-packages/sql/magic.py", line 203, in execute
    conn.internal_connection.rollback()
    ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
AttributeError: 'Connection' object has no attribute 'rollback'

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys(['sqlite:///my_data1.db'])
Traceback (most recent call last):
  File "/Users/yen-yuyang/anaconda3/lib/python3.11/site-packages/sql/magic.py", line 203, in execute
    conn.internal_connection.rollback()
    ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
AttributeError: 'Connection' object has no attribute 'rollback'

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys(['sqlite:///my_data1.db'])

In [50]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
for i in df.columns:
    print(i)
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

Date
Time (UTC)
Booster_Version
Launch_Site
Payload
PAYLOAD_MASS__KG_
Orbit
Customer
Mission_Outcome
Landing_Outcome

101

**Note:This below code is added to remove blank rows from table**

In [41]:
cur = con.cursor()
query = 'create table SPACEXTABLE as select * from SPACEXTBL where Date is not null'

OperationalError: table SPACEXTABLE already exists

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"**

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [51]:
query = "select distinct Launch_Site from SPACEXTBL"
cur.execute(query)
launch_sites = cur.fetchall()
for site in launch_sites:
    print(site)

('CCAFS LC-40',)
('VAFB SLC-4E',)
('KSC LC-39A',)
('CCAFS SLC-40',)


### Task 2


#####  Display 5 records where launch sites begin with the string 'CCA'

In [52]:
query = "select * from SPACEXTBL where Launch_Site like 'CCA%' limit 5"
cur.execute(query)
CCA = cur.fetchall()
for c in CCA:
    print(c)

('2010-06-04', '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)')
('2010-12-08', '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)')
('2012-05-22', '7:44:00', 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt')
('2012-10-08', '0:35:00', 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')
('2013-03-01', '15:10:00', 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [59]:
query = "select sum(PAYLOAD_MASS__KG_) from SPACEXTBL where Customer = 'NASA (CRS)'"
cur.execute(query)
total_payload = cur.fetchone()
print(total_payload)

(45596,)

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [60]:
query = "select avg(PAYLOAD_MASS__KG_) from SPACEXTBL where Booster_Version = 'F9 v1.1'"
cur.execute(query)
avg_mass = cur.fetchone()
print(avg_mass)

(2928.4,)

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.


_Hint:Use min function_

In [62]:
query = "select min(Date) from SPACEXTBL where Landing_Outcome = 'Success'"
cur.execute(query)

suc = cur.fetchone()
print(suc)

('2018-07-22',)

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [64]:
query = "select Booster_Version from SPACEXTBL where Mission_Outcome = 'Success' and Payload_MASS__KG_ >4000 and Payload_MASS__KG_ <6000 "
cur.execute(query)
boosters = cur.fetchall()
for b in boosters: 
    print(b)

('F9 v1.1',)
('F9 v1.1 B1011',)
('F9 v1.1 B1014',)
('F9 v1.1 B1016',)
('F9 FT B1020',)
('F9 FT B1022',)
('F9 FT B1026',)
('F9 FT B1030',)
('F9 FT  B1021.2',)
('F9 FT B1032.1',)
('F9 B4 B1040.1',)
('F9 FT  B1031.2',)
('F9 FT  B1032.2',)
('F9 B4  B1040.2',)
('F9 B5 B1046.2',)
('F9 B5 B1047.2',)
('F9 B5 B1048.3',)
('F9 B5 B1051.2 ',)
('F9 B5B1060.1',)
('F9 B5 B1058.2 ',)
('F9 B5B1062.1',)

### Task 7




##### List the total number of successful and failure mission outcomes

In [83]:
query_success = "select count(*) from SPACEXTBL where Mission_Outcome = 'Success' " 
query_failure = "select count(*) from SPACEXTBL where Mission_Outcome like '%Failure%' " 
dic_mission = {'Success': query_success,
               'Failure': query_failure}
def mission_outcome(outcome, query):
    cur.execute(query)
    results = cur.fetchall()
    print(str(outcome) + ": " + str(results[0]))
for key, values in dic_mission.items():
    mission_outcome(key, values)

Success: (98,)
Failure: (1,)

### Task 8



##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [85]:
query = "select Booster_Version from SPACEXTBL where Payload_MASS__KG_ = (select max(Payload_MASS__KG_) from SPACEXTBL)"
cur.execute(query)
boosters_max_payload = cur.fetchall()
for b in boosters_max_payload:
    print(b)

('F9 B5 B1048.4',)
('F9 B5 B1049.4',)
('F9 B5 B1051.3',)
('F9 B5 B1056.4',)
('F9 B5 B1048.5',)
('F9 B5 B1051.4',)
('F9 B5 B1049.5',)
('F9 B5 B1060.2 ',)
('F9 B5 B1058.3 ',)
('F9 B5 B1051.6',)
('F9 B5 B1060.3',)
('F9 B5 B1049.7 ',)

### Task 9


##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 6,2) as month to get the months and substr(Date,0,5)='2015' for year.**

In [98]:
query = """SELECT SUBSTR(Date, 6,2) as Month, Landing_Outcome, Booster_Version, Launch_Site
FROM SPACEXTBL 
WHERE Landing_Outcome like '%Failure%'  AND SUBSTR(Date, 0,5) = '2015'  """

cur.execute(query)
records = cur.fetchall()
df = pd.DataFrame(records, columns=['Month', 
                                    'Landing_Outcome', 
                                    'Booster_Version', 
                                    'Launch_Site'])
print(df)

  Month       Landing_Outcome Booster_Version  Launch_Site
0    01  Failure (drone ship)   F9 v1.1 B1012  CCAFS LC-40
1    04  Failure (drone ship)   F9 v1.1 B1015  CCAFS LC-40

### Task 10




##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order.

In [105]:
query = """
SELECT substr(Date, 0,5), substr(Date,6,2),  Landing_Outcome, COUNT(*)
FROM SPACEXTBL 
WHERE Date BETWEEN '2010-06-04' AND '2017-03-20'
GROUP BY Landing_Outcome 
ORDER BY COUNT(*) DESC
"""
cur.execute(query)
ranks = cur.fetchall()
df = pd.DataFrame(ranks, columns=['Year',
                                  'Month',
                                  'Landing_Outcome',
                                  'Counts'])
print(df)

   Year Month         Landing_Outcome  Counts
0  2012    05              No attempt      10
1  2016    04    Success (drone ship)       5
2  2015    01    Failure (drone ship)       5
3  2015    12    Success (ground pad)       3
4  2014    04      Controlled (ocean)       3
5  2013    09    Uncontrolled (ocean)       2
6  2010    06     Failure (parachute)       2
7  2015    06  Precluded (drone ship)       1

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>